{% extends "escorts/layout.html" %}

{% load static %}
{% block sections_wrapper %}
<section id="filters" class="filters-section">
    <div id="gender" class="filter-wrapper">
        <div id="straight-female" class="btn-filter">Female</div>
        <div id="straight-male" class="btn-filter">Male</div>
    
    </div>
    <div id="body-type_filter" class="filter-wrapper">
        <div id="petite" class="btn-filter">Petite</div>
        <div id="medium" class="btn-filter">Medium</div>
        <div id="curvy" class="btn-filter">Curvy</div>
    </div>
    <div id="age_filter" class="filter-wrapper">
        <div id="18-25" class="btn-filter no-wrap">20 - 25</div>
        <div id="26-35" class="btn-filter no-wrap">26 - 30</div>
        <div id="36-45" class="btn-filter no-wrap">over 30</div>
    </div>
    <div id="complexion-filter" class="filter-wrapper">
        <div id="dark" class="btn-filter no-wrap">Dark Skin</div>
        <div id="chocolate" class="btn-filter">Chocolate</div>
        <div id="light-skin" class="btn-filter no-wrap">Light Skin</div>
    </div>
</section>
<section id="ads-wrapper">
    <div id="locations">
        <div id="location-title" class="bg-black color-white">
            <h1>Select Location</h1> 
        </div>
        <div id="Nairobi" class="county">
            <div class="county-name">
                Nairobi
                <img src="{% static 'escorts/svgs/triangle_down.svg' %}" alt="caret-down-solid" class="caret">
            </div>
            <ul class="towns">
                <li class="town">Nairobi Central</li>
                <li class="town">Westlands</li>
                <li class="town">Karen</li>
                <li class="town">Lang'ata</li>
                <li class="town">Kilimani</li>
            </ul>
        </div>
    </div>
    <div id="ads">
        <div class="ads">
            <h2 class="section-title">VIP</h2>
            <div class="ads-grid" id="vip-ads">
                {% for escort in vips %}
                <div class="card">
                    <div class="image-wrapper">
                        <a href="{% url 'escorts:view_escort' escort.phone_number %}">
                            <img src="{{ escort.profile_picture }}" alt="Card Image" class="card-image">
                        </a>
                        <a href="{% url 'escorts:view_escort' escort.phone_number %}">
                        <div class="transparent-details">
                            <div class="escort-name capitalize">{{ escort.name }}</div>
                        <div class="escort-location capitalize">{{ escort.location }}</div>
                        </div>
                        </a>
                    </div>
                    <div class="escort-phone">
                        <span class="phone-icon"></span>
                        <a href="tel:{{ escort.phone_number}}" class="escort-phone">{{ escort.phone_number }}</a>
                    </div> 
                </div>
                <!-- </a> -->
                {% endfor %}
            </div>
        </div>
        <div class="ads">
            <h2>VERIFIED</h2>
            <div class="ads-grid"  id="verified-ads">                  
            </div>
        </div>
        <div class="ads">
            <h2>GENERAL</h2>
            <div class="ads-grid"  id="general-ads">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
