<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width, 
     user-scalable=yes">
    {% block title %}
    <title>Qwiqee </title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-VkzjZ+z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z9Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/card.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/filters.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/highlights.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/responsive.css' %}">
    <script defer src="{% static 'escorts/scripts/index.js' %}"></script>
    <script defer src="{% static 'escorts/scripts/events.js' %}"></script>
</head>
<body>
    <nav>
        <div id="nav-left">
            <a href="{% url 'escorts:index' %}">
            <div id="page-title">Qwiqee.com</div>
            </a>
            <div id="description">
                <p>Find your perfect match for exotic quality services</p>
            </div>
        </div>
        <div id="login-wrapper">
            <a href="{% url 'escorts:index' %}"><div id="login">Home</div></a>
            <a href="{% url 'users:login' %}"><div id="login">Login</div></a>
            <a href="{% url 'users:register' %}"><div id="register">Register</div></a>
        </div>
    </nav>

    {% block fiters %}
    <section id="filters">
        <div id="top-towns">
            <div class="town">Nairobi</div>
            <div class="town">Thika</div>
            <div class="town">Kisumu</div>
            <div class="town">Mombasa</div>
            <div class="town">Nakuru</div>
            <div class="town">Embu</div>
        </div>
        <form action="{% url 'escorts:filter_gender' %}" id="gender-filter" class="filter-form" method="post">
            <div id="gender" class="filter-wrapper">
                <div class="filter-title">Gender</div>
                <label class="btn-filter no-wrap">
                    <input type="radio" name="gender" id="straight-female" class="input-gender" value="female"> Female
                </label>
                <label class="btn-filter no-wrap">
                    <input class="input-gender" type="radio" name="gender" id="straight-male" value="male"> Male
                </label>
                
            </div>
        </form>
        <form action="{% url 'escorts:female_filters' %}" id="female-filters"  class="filter-form" method="post">
            <div id="body-type_filter" class="filter-wrapper">
                <div class="filter-title">Body Type</div>
                {% for radio in filter_form.body_type %}
                <label class="btn-filter no-wrap">{{ radio }}</label>
                {% endfor %}
            </div>
            <div id="age_filter" class="filter-wrapper">
                <div class="filter-title">Age</div>
                {% for radio in filter_form.age %}
                <label class="btn-filter no-wrap">{{ radio }}</label>
                {% endfor %}
            </div>
            <div id="complexion-filter" class="filter-wrapper">
                <div class="filter-title">Skin Color</div>
                {% for radio in filter_form.skin_color %}
                <label class="btn-filter no-wrap">{{ radio }}</label>
                {% endfor %}
            </div>
            <div>
                <input type="submit" value="Filter" class="green-button">
            </div>
        </form>
    </section>
    {% endblock %}
    <section class="search-section">
        <br>
         <form id="search-box" action="{% url 'escorts:filter_location' %}" method="post" class="search-box">
            <input type="text" id="search" placeholder="Search location" class="search-input" name="location">
            <button id="search-button" type="submit" form="search-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f799d6" viewBox="0 0 24 24">
                    <circle cx="11" cy="11" r="7" stroke="#f799d6" stroke-width="2" fill="none"/>
                    <line x1="16.5" y1="16.5" x2="21" y2="21" stroke="#f799d6" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </button>
        </form>
        <br>
    </section>
    {% block ads_secotion %}
    <section id="escorts-wrapper">
        {% block location_filter %}
        <div id="counties">
            <div id="counties-title" class="bg-black color-white">
                <h1>Select Location</h1>
            </div>
            {% for county, towns in locations.items %}
            <div class="county">
                <div class="county-name" style="text-transform: capitalize;">
                    {{ county }}
                    <svg width="18" height="24" viewBox="0 0 24 24" fill="#f799d6" xmlns="http://www.w3.org/2000/svg" class="caret">
                        <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.41 4.42 3 7.5 3C9.24 3 10.91 3.79 12 5.05C13.09 3.79 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5C22 12.28 18.6 15.36 13.45 20.03L12 21.35Z"/>
                    </svg>
                </div>
                <ul class="towns" style="display: none;">
                    {% for town in towns %}
                    <li class="town" style="text-transform: capitalize;">
                        {{ town }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        {% block ads%}
        <div id="escorts-ads">
            <div class="ads">
                <h3></h3>
                <div class="ads-flex" id="vip-ads">
                    {% for escort in escorts %}
                    <div class="card">
                        <div class="image-wrapper">
                            {% if escort.escort_class == 'vip'  %}
                            <div class="badge-wrapper">
                                <svg width="00" height="00" xmlns="http://www.w3.org/2000/svg" class="vip-badge">
                                    <text x="10" y="20" font-family="Arial" font-size="18" fill="#279e03" font-weight="bold">
                                        {{ escort.escort_class.upper }}
                                    </text>
                                </svg>
                            </div>
                            {% endif %}
                            <a href="{% url 'escorts:view_escort' escort.phone_number %}">
                                <img src="{{ escort.profile_picture }}" alt="Card Image" class="card-image">
                            </a>
                        </div>
                        <div class="transparent-details">
                            <div class="escort-name capitalize">{{ escort.name }}</div>
                            <div class="escort-location capitalize">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="location-pin">            
                                        <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 
                                        192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 
                                        1 1 0 128 64 64 0 1 1 0-128z"/>
                                    </svg>
                                </div>
                                {{ escort.location }}

                            </div>
                        </div>
                        <div class="escort-bio">
                            {{ escort.bio }}
                        </div>
                        <div class="escort-phone">
                            <span class="phone-icon"></span>
                            <a href="tel:{{ escort.phone_number}}" class="escort-phone">{{ escort.phone_number }}</a>
                        </div> 
                    </div>
                <!-- </a> -->
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}
        <div id="highlights">
            <div id="highlights-wrapper">
                <div id="services-highlights">
                    <h1 id="services-title">services:</h1>
                    {% for service in services %}
                    <a href="{% url 'escorts:filter_service' service %}"><div class="highlights-service">{{ service }}</div></a>
                    {% endfor %}
                </div>
                <div id="escorts-highlights">
                    
                </div>
                <div id="locations-highlights">
                    <div id="locations-title">
                        <h3>Escorts Near You.</h3>
                    </div>
                    <!-- <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="highlights-pin">            
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 
                            192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 
                            1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                    </div> -->
                    <div id="hot-locations">
                        <a class="highlight-location town">Juja</a>
                        <a class="highlight-location town">Kilimani</a>
                        <a class="highlight-location town">Roysambu</a>
                        <a class="highlight-location town">Thika</a>
                        <a class="highlight-location town">Embakasi</a>
                        <a class="highlight-location town">Donny</a>
                        <a class="highlight-location town">Embu</a>
                        <a class="highlight-location town">Westy</a>
                        <a class="highlight-location town">Langata</a>
                        <a class="highlight-location town">South C</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <div style="display: none;" id="location_filter">
        <form action="{% url 'escorts:filter_location' %}" method="post" id="location-filter-form">
            <input type="text" name="location" id="location">
        </form>
    </div>
    <section id="arrow-up-section">
        <div id="arrow-up-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" 
                shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" 
                fill-rule="evenodd" clip-rule="evenodd" 
                viewBox="0 0 512 299.283" id="arrow-up"><path d="M75.334 286.691c-64.764 36.929-96.186-15.595-60.203-51.975L215.997 
                25.104c33.472-33.472 46.534-33.472 80.006 0l200.866 209.612c35.983 36.38 4.561 88.904-60.203 51.975L256 
                189.339 75.334 286.691z"/>
            </svg>
        </div>
    </section>
    <footer>
        <div id="about-us">
            <h3>About us</h3>
            <p class="about-us-p" style="width: 70%; max-width: 700px;">We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
            <div>
                <a href="{% url 'users:terms' %}">Terms&Conditions</a>
            </div>
        </div>
        <div id="about-us">
            <h3>Contact us</h3>
            <div>
                <p>Email: info@qwiqee.com</p>
            </div>
            <div>
                <p>Phone: 0114117613</p>
            </div>
        </div>
    </footer>
</body>
</html>
