<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Qwiqie </title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/card.css' %}">
    {% block specific_css%}
    {% endblock %}
    <script defer src="scripts/index.js"></script>
</head>
<body>
    <nav>
        <div id="page-title">Qwiqie.com</div>
        <div id="description">
            <p>Find your perfect match for exotic quality services</p>
        </div>
        <div id="login-wrapper">
            <div id="login">login</div>
            <div id="register">register</div>
        </div>
    </nav>
    {% block filters %}
    <section id="filters">
        <div id="gender" class="filter-wrapper">
            <div id="straight-female" class="btn-filter">Female</div>
            <div id="straight-male" class="btn-filter">Male</div>
        
        </div>
        <div id="body-type_filter" class="filter-wrapper">
            <div id="petite" class="btn-filter">Petite</div>
            <div id="medium" class="btn-filter">Medium</div>
            <div id="curvy" class="btn-filter">Curvy</div>
        </div>
        <div id="age_filter" class="filter-wrapper">
            <div id="18-25" class="btn-filter no-wrap">20 - 25</div>
            <div id="26-35" class="btn-filter no-wrap">26 - 30</div>
            <div id="36-45" class="btn-filter no-wrap">over 30</div>
        </div>
        <div id="complexion-filter" class="filter-wrapper">
            <div id="dark" class="btn-filter no-wrap">Dark Skin</div>
            <div id="chocolate" class="btn-filter">Chocolate</div>
            <div id="light-skin" class="btn-filter no-wrap">Light Skin</div>
        </div>
    </section>
    {% endblock %}
    {% block ads %}
    {% endblock %}
    <footer>
        <div id="about-us">
            <h3>About us</h3>
            <p>We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
        </div>
        <div id="about-us">
            <h3>Contact us</h3>
            <div>
                <p>Email: info@qwiqie.com</p>
            </div>
            <div>
                <p>Phone: 0701986756</p>
            </div>
        </div>
    </footer>
</body>
</html>
