<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width,
     interactive-widget=resizes-content user-scalable=yes">
    {% block title %}
    <title>Qwiqee </title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/card.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/responsive.css' %}">
    <script defer src="{% static 'users/events.js' %}"></script>
    {% block specific_css%}
    {% endblock %}
    <script defer src="{% static 'escorts/scripts/index.js' %}"></script>
</head>
<body>
    {% block environment%}
    <!-- <div id="tagline">This is a testing environment and should not be populated with real personal data</div> -->
    {% endblock %}
    <div></div>
<nav>
        <div id="nav-left">
            <a href="{% url 'escorts:index' %}">
            <div id="page-title">Nairobi Escorts @Qwiqee.com</div>
            </a>
            <div id="description">
                <p>Find your perfect match for exotic quality services</p>
            </div>
        </div>
        <div id="login-wrapper">
            <a href="{% url 'escorts:index' %}"><div id="login">Home</div></a>
            <a href="{% url 'users:login' %}"><div id="login">Login</div></a>
            <a href="{% url 'users:register' %}"><div id="register">Register</div></a>
        </div>
    </nav>
        
    <div class="sections-wrapper">
    {% block sections_wrapper %}
    
    {% endblock %}
    </div>
    <section id="arrow-up-section">
        <div id="arrow-up-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" 
                shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" 
                fill-rule="evenodd" clip-rule="evenodd" 
                viewBox="0 0 512 299.283" id="arrow-up"><path d="M75.334 286.691c-64.764 36.929-96.186-15.595-60.203-51.975L215.997 
                25.104c33.472-33.472 46.534-33.472 80.006 0l200.866 209.612c35.983 36.38 4.561 88.904-60.203 51.975L256 
                189.339 75.334 286.691z"/>
            </svg>
        </div>
    </section>
    {% block footer %}
    <footer>
        <div id="about-us">
            <h3>About us</h3>
            <p>We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
            <div style="padding-bottom: 20px; box-sizing: border-box;">
                <a href="{% url 'users:terms' %}">Terms&Conditions</a>
                <br>
            </div>
        </div>
        <div id="about-us">
            <h3>Contact us</h3>
            <div>
                <p>Email: info@qwiqee.com</p>
            </div>
            <div>
                <p>Phone: 0114117613</p>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
