<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width,
     interactive-widget=resizes-content user-scalable=yes">
    {% block title %}
    <title>Qwiqie </title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/card.css' %}">
    <link rel="stylesheet" href="{% static 'escorts/responsive.css' %}">
    {% block specific_css%}
    {% endblock %}
    <script defer src="{% static 'escorts/scripts/index.js' %}"></script>
</head>
<body>
    <nav style="border: none;">
        <div id="page-title">Qwiqie.com</div>
        <div id="description">
            <p>Find your perfect match for exotic quality services</p>
        </div>
        <div id="login-wrapper">
            <div id="login"><a style="text-decoration: none;" href="{% url 'users:login' %}">Login</a></div>
            <div id="register"><a style="text-decoration: none;" href="{% url 'users:register' %}">Register</a></div>
        </div>
    </nav>
    
    
    <div class="sections-wrapper">
    {% block sections_wrapper %}
    
    {% endblock %}
    </div>
    <footer>
        <div id="about-us">
            <h3>About us</h3>
            <p>We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
        </div>
        <div id="about-us">
            <h3>Contact us</h3>
            <div>
                <p>Email: info@qwiqie.com</p>
            </div>
            <div>
                <p>Phone: 0701986756</p>
            </div>
        </div>
    </footer>
</body>
</html>
