
{% extends 'users/account.html' %}

{% load static %}
{% block title %}<title>Escort Profile</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'escorts/profile.css' %}">
<link rel="stylesheet" href="{% static 'escorts/responsive.css' %}">
<link rel="stylesheet" href="{% static 'users/responsive.css' %}">
<link rel="stylesheet" href="{% static 'escorts/responsive.css' %}">
{% endblock %}
{% block account_redirect %}
    <div>
    <a href="{% url 'users:account' %}" id="home">Account</a>
    </div>
{% endblock %}
{% block sections_wrapper %}
<section id="escort-profile" class="profile-section">
    <div class="escort-profile-wrapper">
    <div class="profile-heading">
        <div class="escort-name">
            <h1> {{ escort.name }} </h1>
            <div class="detail-wrapper-phone">
                <div class="detail-title-phone">Call</div>
                <div class="detail-value personal-detail"><span><a href="tel:{{ escort.phone_number }}">{{ escort.phone_number }}</a></span></div>
            </div>
        </div>
        <div class="escort-details">
            <div class="details-list">
            <div class="detail-wrapper">
                <div class="detail-title">Age</div>
                <div class="detail-value">{{ escort.age }}</div>
            </div>
            <div class="detail-wrapper">
                <div class="detail-title">Sexuality</div>
                <div class="detail-value">{{ escort.gender }}</div>
            </div>
            <div class="detail-wrapper">
                <div class="detail-title">Location</div>
                <div class="detail-value">{{ escort.location }}</div>
            </div>
            <div class="detail-wrapper">
                <div class="detail-title">Body Type</div>
                <div class="detail-value">{{ escort.body_type }}</div>
            </div>
            <div class="detail-wrapper">
                <div class="detail-title">Skin Color</div>
                <div class="detail-value">{{ escort.skin_color }}</div>
            </div>
            </div>
            <div>
                <div id="profile-bio-wrapper">
                    {{ escort.bio }}
                </div>
            </div>
        </div>          
    </div>
    </div>
    <br>
</section>
<section class="profile-section">
    <div> 
        <a class="edit-escort" href="{% url 'escorts:edit_details' escort.phone_number %}">Edit Details</a>
    </div>
</section>
<section class="profile-section">
    <h3>Pictures</h3>
    <div id="escort-images">
        {% for image in images %}
            <div class="image-wrapper">
                <img src="{{ image.image_field.url }}" alt="escort-picture" class="profile-picture" id="profile-picture">
                <div>
                    <a class="medium-red-button" href="{% url 'escorts:remove_image' phone_number=escort.phone_number image_id=image.image_id %}">
                        X
                    </a>
            
                </div>  
            </div>
        {% endfor %}
    </div>
    <div>
        <a class="purple-button" href="{% url 'escorts:add_image' escort.phone_number %}">Add Image</a>
    </div>
</section>

<section class="profile-section">
    <div class="services">
        <h1>Services</h1>
    </div>
    {% if services %}
    <div id=services-wrapper>
        <div action="" id="services-form" method="post">
            {% for service in services %}
                <div class="service-item">
                    <div class="service no-border">{{ service.service_name }}</div>
                    <!-- <div class="price">{{ service.price}}</div> -->
                    <div>
                        <a href="{% url 'escorts:remove_service' phone_number=escort.phone_number service_id=service.service_id %}" class="medium-red-button">
                            X
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %} 
    <div>
        <a class="purple-button" href="{% url 'escorts:add_service' phone_number=escort.phone_number %}" >Add Service</a>
    </div>     
</section>
<section class="profile-section">
    <br>
    <div>
        <a href="{% url 'escorts:index' %}" id="pay-button" class="big-green-button">Complete</a>
    </div>
    <br>
    <br>
    <div class="profile-section">
        <form action="{% url 'escorts:delete_escort' phone_number=escort.phone_number %}">
            {% csrf_token %}
            <button type="submit" class="medium-red-button">DELETE PROFILE</button>
        </form>
    </div>
</section>

{% endblock %}

