:root {
    --dark-red: #5e0307;
    --light-red: #f5252f;
    --background-green: #279e03;
    --purple: #bf047e;
    --light-purple: #f799d6;
    --pink-background: #fae6f3;
    --purple-gray: #5e4455;
    --white: white;
    --black: black;
  
  }

.card {
    height: 490px;
    width: 296px;
    border: 1px solid var(--purple);
    padding: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 10px;
    
}

.image-wrapper {
    height: 320px;
    width: 280px;
}

.card-image {
    height: 320px;
    width: 280px;
    object-fit: cover;
}

.transparent-details {
    width: 100%;
    color: var(--light-purple);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0 5px;
    box-sizing: border-box;

}

.escort-name {
    font-size: 24px;
    text-align: center;
    padding: 8px 0 8px 0;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(90, 85, 85);
}

.escort-location {
    text-align: center;
    font-size: 16px;
    padding: 8px 0 8px 0;
    text-transform: capitalize;
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 12px;
    
}

.location-pin {
    width: 16px;
    height: 16px;
    fill: var(--light-purple);
}


a.escort-phone {
    text-decoration: none;
    color: var(--white);
    
}

.escort-phone {
    background-color: var(--light-purple);
    color: var(--background-green);
    box-sizing: border-box;
    text-align: center;
    padding: 8px 0 8px 0;
    font-weight: bold;
    border-radius: 10px;
}

.escort-bio {
    padding: 0 5px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


