:root {
    --dark-red: #5e0307;
    --light-red: #f5252f;
    --background-green: #279e03;
    --purple: #bf047e;
    --light-purple: #f799d6;
    --pink-background: #fae6f3;
    --purple-gray: #5e4455;
    --white: white;
    --black: black;
    --background-light: #f4f4f4;
    --hover-green: #2e7d03;
  
}

body {
    font-family: sans-serif;
    /* background-color: var(--pink-background);  */
}

#escort-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-color: var(--pink-background);
}

.escort-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    text-transform: capitalize;
}

#profile-bio-wrapper {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--purple);
    color: var(--purple);
    border-radius: 15px;
    
}



#personal-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    width: 90%;
    height: 90%;
    padding: 20px 5px;
    
}

#details-list {
    padding-top: 48px;
    background-color: var(--pink-background);
}

#escort-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 20px;
    background-color: var(--background-light);
    padding: 20px;
}

#image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--background-light);
    
}

#upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 80%;
    height: 80%;
    padding: 20px 20px 20px 30%;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.upload-button {
    background-color: var(--background-green);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upload-button:hover {
    background-color: var(--hover-green);
}

.medium-green-button {
    background-color: var(--background-green);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.medium-green-button:hover {
    background-color: var(--hover-green);
}


#services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
    width: 100vw;
    height: 80%;
    padding: 0 20px;
    /* max-width: 1000px; */
    background: var(--white);
    min-width: fit-content;
   

}

#services-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 8px;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
    padding: 8px 16px;
   
}

/* utility classes */
.big-green-button {
    background-color: var(--background-green);
    color: var(--white);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.big-green-button:hover {
    background-color: var(--hover-green);
    
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--background-light);
    box-sizing: border-box;
}

.personal-detail span {
    /* font-weight: bold; */
    color: var(--white);
    background: var(--purple);
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 4px;
}

.personal-detail {
    white-space: nowrap;
    text-transform: capitalize;
}

.service-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 8px;
}

.service {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--purple-gray);
    border-radius: 4px;
}

.price {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    background-color: var(--purple-gray);
    color: var(--white);
    border-radius: 4px;
}

.medium-red-button {
    background-color: var(--light-red);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.medium-red-button:hover {
    background-color: var(--dark-red);
}


.edit-escort {
    background-color: var(--purple-gray);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h1 {
    text-transform: capitalize;
}


img.profile-picture {
    height: 400px;
    width: 280px;
}

.space-between {
    justify-content: space-between;
    gap: 0px;
    padding-bottom: 0px;
}

.pink-border-bottom {
    border-bottom: 1px solid var(--light-purple);
}

.purple-button {
    color: var(--white);
    background: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 10px;
}

