<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width,
     interactive-widget=resizes-content user-scalable=no">
    {% block title %}<title>Account</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'users/account.css' %}">
    {% block specific_css %}
    <link rel="stylesheet" href="{% static 'users/responsive.css' %}">
    <script defer src="{% static 'users/events.js' %}"></script>
    {% endblock %}
    {% block specific_scripts %}{% endblock %}
</head>
<body>
    <nav id="accounts-nav">
        <a href="{% url 'escorts:index' %}">
        <div class="nav-left">
            <div id="page-title">Qwiqee.com</div>
        </div>
        </a>
        <div class="nav-right">
            {% block login %}
            <div id="login-wrapper">
                <div id="login"> <a href="{% url 'users:logout' %}" style="text-decoration: none;"> Logout </a></div>
            </div>
            {% endblock %}
        </div>
    </nav>
    <section class="description-section">
        <div id="description">
                <p>Manage All Your Escort Profiles</p>
                <p>With One Account</p>
        </div>
    </section>
    <br>
    {% block sections_wrapper %}
    <!-- <div class="sections-wrapper"> -->
    
    <section id="agency-profile" class="profile-section flex-center-column">
        <div class="profile-heading flex-center-column">
            <div class="escort-name">
                <h1>{{ user.username }}</h1>
            </div>          
        </div>
    </section>
    <section class="manage-escorts">
        <div class="section-heading">
            <h2>Escort Profiles</h2>
        </div>
        <div id="escorts-list">
            <div class="escorts-grid-headings">
                <div class="item">Name</div>
                <div class="item escort-phone">Phone</div>
                <!-- <div class="item">Location</div> -->
                <!-- <div class="item">Gender</div> -->
                <div class="item escort-class">Class</div>
                <!-- <div class="item">Age</div> -->
            </div>
            <div class="escorts-grid-contents">
                {% for escort in escorts %}
                    <div class="item">{{ escort.name }}</div>
                    <div class="item escort-phone">{{ escort.phone_number }}</div>
                    <!-- <div class="item">{{ escort.location }}</div> -->
                    <!-- <div class="item">{{ escort.gender }}</div> -->
                    <div class="item escort-class">{{ escort.escort_class }}</div>
                    <!-- <div class="item">{{ escort.age }}</div> -->
                    <a class="edit-escort" href="{% url 'escorts:profile' escort.phone_number %}">View</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <br>
        <div class="flex-center">
            <a href="{% url 'escorts:create_escort' %}" class="edit-escort">Add Escort</a>
        </div>
    </section>
    <section>
        <br>
        <br>
        <div>
            <a href="{% url 'escorts:index' %}" id="pay-button" class="big-green-button">Complete</a>
        </div>
    </section>
    {% endblock %}
    <!-- </div> -->
    <br>
    <br>
    {% block footer %}
    <!-- <footer>
        <div id="about-us">
            <h3><span class="red-border-bottom">About us:</span></h3>
            <p>We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
        </div>
        <div id="about-us">
            <h3><span class="red-border-bottom">Contact us:</span></h3>
            <div>
                <p>Email: info@qwiqie.com</p>
            </div>
            <div>
                <p>Phone: 0701986756</p>
            </div>
        </div>
    </footer> -->
    {% endblock %}
</body>
</html>
