<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width,
     interactive-widget=resizes-content user-scalable=no">
    {% block title %}<title>Account</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'escorts/index.css' %}">
    <link rel="stylesheet" href="{% static 'users/account.css' %}">
    <link rel="stylesheet" href="{% static 'users/responsive.css' %}">
    <script defer src="{% static 'users/events.js' %}"></script>
    {% block specific_css %}
    
    <!-- <script defer src="{% static 'escorts/events.js' %}"></script> -->
    {% endblock %}
    {% block specific_scripts %}{% endblock %}
</head>
<body>
    <section id="header">
    <nav id="accounts-nav">
        <a href="{% url 'escorts:index' %}">
        <div class="nav-left">
            <div id="page-title">
                Nairobi Escorts @Qwiqee.com
            </div>
        </div>
        </a>
        <div class="nav-right">
            <div id="login-wrapper">
                <div>
                <a href="{% url 'escorts:index' %}" id="home">Home</a>
                </div>
            {% block account_redirect %}
            {% endblock %}
            {% block login %}
                <div id="login"> <a href="{% url 'users:logout' %}" style="text-decoration: none;"> Logout </a></div>
            {% endblock %}
            </div>
        </div>
    </nav>

    <section class="description-section">
        <div id="description">
                <p>Manage All Your Escort Profiles</p>
                <p>With One Account</p>
        </div>
        <div style="font-size: 14px; letter-spacing: 2px; word-spacing: 5px; color: rgb(0, 140, 255); 
        background: rgb(0, 0, 0); text-align: center; padding: 10px;">
            This is a testing environment and should not be populated with real personal data
        </div> 
    </section>
    <br>

    <br>
    </section>
    {% block sections_wrapper %}
    <section id="message-success">
        {% if message %}
        <div class="{{ message.tags }}" style="color: green;">
            {{ message }}
        </div>
        {% endif %}
    </section>
    
    <section id="agency-profile" class="profile-section flex-center-column">
        <div class="profile-heading flex-center-column">
            <div class="escort-name">
                <h1>{{ user.username }}</h1>
            </div>          
        </div>
    </section>
    <section class="manage-escorts">
        <div class="section-heading">
            <h2>Escort Profiles</h2>
        </div>
        <div id="escorts-list">
            <div class="escorts-grid-headings">
                <div class="item">Name</div>
                <div class="item escort-phone">Phone</div>
                <!-- <div class="item">Location</div> -->
                <!-- <div class="item">Gender</div> -->
                <div class="item escort-class">Class</div>
                <!-- <div class="item">Age</div> -->
            </div>
            <div class="escorts-grid-contents">
                {% for escort in escorts %}
                    <div class="item">{{ escort.name }}</div>
                    <div class="item escort-phone">{{ escort.phone_number }}</div>
                    <!-- <div class="item">{{ escort.location }}</div> -->
                    <!-- <div class="item">{{ escort.gender }}</div> -->
                    <div class="item escort-class">{{ escort.escort_class }}</div>
                    <!-- <div class="item">{{ escort.age }}</div> -->
                    <a class="edit-escort" href="{% url 'escorts:profile' escort.phone_number %}">View</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <br>
        <div class="flex-center">
            <a href="{% url 'escorts:create_escort' %}" class="edit-escort">Add Escort</a>
        </div>
    </section>
    <section>
        <br>
        <br>
        <div>
            <a href="{% url 'escorts:index' %}" id="pay-button" class="big-green-button">Complete</a>
        </div>
    </section>
    {% endblock %}
    <section id="arrow-up-section">
        <div id="arrow-up-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" 
                shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" 
                fill-rule="evenodd" clip-rule="evenodd" 
                viewBox="0 0 512 299.283" id="arrow-up"><path d="M75.334 286.691c-64.764 36.929-96.186-15.595-60.203-51.975L215.997 
                25.104c33.472-33.472 46.534-33.472 80.006 0l200.866 209.612c35.983 36.38 4.561 88.904-60.203 51.975L256 
                189.339 75.334 286.691z"/>
            </svg>
        </div>
    </section>
    <br>
    <br>
    {% block footer %}
    <!-- <footer>
        <div id="about-us">
            <h3><span class="red-border-bottom">About us:</span></h3>
            <p>We are a digital marketing agency. We provide digital infrastructure for escorts 
                and escort agency to scale their business</p>
        </div>
        <div id="about-us">
            <h3><span class="red-border-bottom">Contact us:</span></h3>
            <div>
                <p>Email: info@qwiqie.com</p>
            </div>
            <div>
                <p>Phone: 0701986756</p>
            </div>
        </div>
    </footer> -->
    {% endblock %}
</body>
</html>
