
{% extends "users/account.html" %}

{% load static %}

{% block title %}<title>Login</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
<link rel="stylesheet" href="{% static 'users/responsive.css' %}">
{% endblock %}

{% block login %}{% endblock %}

{% block sections_wrapper %}
<section>
    <div id="login-section" class="registration-section">
        <div id="escort-title" class="#">
            <h2>Login</h2> 
        </div>
        <div class="form-wrapper">
            <form action="#" method="post" class="registration-form">
                {% csrf_token %}
                <label for="email">Username:</label>
                {{ form.username}}

                <label for="password">Password:</label>
                {{ form.password }}
                <button type="submit" href="#" class="register-button">Login</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}


