
{% extends "users/account.html" %}

{% load static %}

{% block title %}<title>Login</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
<link rel="stylesheet" href="{% static 'users/responsive.css' %}">
<script defer src="{% static 'users/events.js' %}"></script>
{% endblock %}

{% block login %}
    <div id="login-wrapper">
        <div id="login"> <a href="{% url 'users:register' %}" style="text-decoration: none;"> Sign up </a></div>
    </div>
{% endblock %}

{% block sections_wrapper %}
<section>
    <div id="login-section" class="registration-section">
        <div class="form-wrapper">
            <div class="registration-form">
                <div id="escort-title" class="registration-title">
                    <h2>Login</h2> 
                </div>
            </div>
        </div>
        <div class="form-wrapper">
            <form action="#" method="post" class="registration-form">
                {% csrf_token %}
                <label for="email">Username<span id="asterix" style="color: red;">*</span>
                    <div id="signup-group">
                        <input type="text" name="username" id="username" class="form-input">
                    </div>
                </label>
                <div id="username-constraints">
                    <ul>
                        <li>Atleast 5 characters</li>
                    </ul>
                </div>
                <br>
                <label for="password">Password<span id="asterix" style="color: red;">*</span>
                    <div id="password-group">
                        <input type="password" id="password" name="password" class="form-input">
                        <div id="svg-container"></div>
                    </div>
                </label>
                <div id="password-constraints">
                    <ul>
                        <li>Atleast 8 characters</li>
                        <li>Must include letters and numbers</li>
                    </ul>
                </div>
                <br>
                <div id="registration-buttons">
                    <div>
                        <button type="submit" href="#" class="red-button">Login</button>
                    </div>
                    <div>
                        <a class="red-border-button">Sign up</a>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</section>
{% endblock %}


