{% extends "users/account.html" %}

{% load static %}

{% block title %}<title>Login</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
{% endblock %}

{% block sections_wrapper %}
<section id="payment-section" class="registration-section">
    <div id="escort-title" class="#">
        <h2>Make Payment</h2> 
    </div>
    <div class="form-wrapper">
        <form action="#" method="post" class="registration-form">
            {% csrf_token %}
            <label for="escort-phone">Escort Phone:</label>
            {{ form.escort_phone}}
            <label for="payment-phone">Payment Phone:</label>
            {{ form.escort_phone}}
            <label for="amount">Amount:</label>
            {{ form.amount }}
            <button type="submit" href="#" class="register-button">Login</button>
        </form>
    </div>
</section>
{% endblock %}