
{% extends "users/account.html" %}

{% load static %}

{% block title %}<title>Register</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
<link rel="stylesheet" href="{% static 'users/responsive.css' %}">
<script defer src="{% static 'users/events.js' %}"></script>
{% endblock %}

<div id="login-wrapper">
    {% block login %}
    <div id="login"> <a href="{% url 'users:login' %}" style="text-decoration: none;"> Login </a></div>
    {% endblock %}
</div>

{% block sections_wrapper %}
    <section id="escort-registration" class="registration-section">
        <div id="escort-title" class="registration-title">
            <h2>Create Account</h2> 
        </div>
        <div id="escort-form" class="form-wrapper">
            <form action="#" method="post" class="registration-form">
                {% csrf_token %}
                <label for="username">Username<span id="asterix" style="color: red;">*</span></label>
                {{ form.username }}
                <br>
                <label for="phone">Phone Number<span id="asterix" style="color: red;">*</span></label>
                {{ form.phone_number }}
                <br>
                <label for="password">Password<span id="asterix" style="color: red;">*</span>
                    <div id="password-group">
                        <input type="password" id="password" name="password1" class="form-input" required>
                        <div id="svg-container"></div>
                    </div>
                </label>
                <br>
                <label for="password">Confirm Password<span id="asterix" style="color: red;">*</span>
                    <div id="password-group">
                        <input type="password" id="password2" name="password2" class="form-input" required>
                        <div id="svg-container"></div>
                    </div>
                </label>
                <br>
                <div id="registration-buttons">
                    <div class="registration-button-wrapper">
                        <button type="submit" href="#" class="red-button">Sign up</button>
                    </div>
                    <div class="registration-button-wrapper">
                        <a href="{% url 'users:login' %}" class="red-border-button">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
