
{% extends "users/account.html" %}

{% load static %}

{% block title %}<title>Login</title>{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
<link rel="stylesheet" href="{% static 'users/responsive.css' %}">
{% endblock %}

{% block sections_wrapper %}
    <section id="escort-registration" class="registration-section">
        <div id="escort-title">
            <h2>Create Account</h2> 
        </div>
        <div id="escort-form" class="form-wrapper">
            <form action="#" method="post" class="registration-form">
                {% csrf_token %}
                <label for="username">Username:</label>
                {{ form.username }}
                <label for="phone">Phone Number:</label>
                {{ form.phone_number }}
                <label for="password">Password:</label>
                {{form.password1}}
                <label for="password">Confirm Password:</label>
                {{form.password2}}
                <div class="submit-button-wrapper">
                <button type="submit" href="#" class="register-button">Register</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
